header a:hover {
    transition: 1s 0s;
    background-color: cornsilk;
    color: purple;
    text-decoration: none;
}

.caixa{
    margin: 60px 0;
    margin-bottom: 1px solid #5e5e5e;
}

a{
    padding: 8px;
    color: coral;
}

#rodape-link a:hover {
    color:white;
    background-color: sandybrown;
    transition: 1s 0s;
    text-decoration: none;
    border-radius: 4px;
}